.fit-home-container {
    display: flex;
    justify-content: space-between;
}

.fit-home-left {
    flex: 3;
    padding: 2rem;
    padding-right: 1.5rem;
}

.fit-home-right {
    flex: 1;
    padding: 2rem;
}

.fit-home-content{
    margin-top: 4rem;
    background-color: #363d36;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fit-home-content>span{

    z-index: 2;
}

.fit-home-content>div{
    position: absolute;
    height: 80%;
    width: 5.4rem;
    border-radius: 3rem;
    background-color: var(--red);
    margin-right: 1rem;
    left: 8px;
    z-index: 1;
}

.fit-home-tag{
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   text-transform: uppercase;
   font-size: 2.5rem;
   font-weight:bold ;
   color: white;
   text-overflow: inherit;
   padding-top: 2rem;
}

.fit-home-figures{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}

.fit-home-figures>div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: white;
}

.fit-home-figures>div>span:nth-of-type(1){
    font-size: 2rem;
    font-weight: bold;
}

.fit-home-figures>div>span:nth-of-type(2){
    font-size: 1rem;
    color: var(--gray);
    text-transform: uppercase;
}

.fit-home-buttons{
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
    font-weight: normal;
}

.fit-home-buttons>:nth-child(1){
    background-color: var(--red);
    color: white;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    border: none;
}

.fit-home-buttons>:nth-child(2){
    background-color: var(--red);
    color: white;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    border: none;
}

html { scroll-behavior: smooth; }

/* Optional: spacing/background for the target block */
.workouts-section {
  padding: 80px 20px;
  background: #f5f5f5;
}

