.header {
    display: flex;
    justify-content: space-between;

}

.logo {
width: 6rem;
height: 5rem;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
   color: white;
}

.header-menu>li {
    cursor: pointer;
    
}

.header-menu>li:hover {
    color:var(--red);
    cursor: pointer;
    transition: 0.3s;
}