.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box input {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-box button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-link {
  font-size: 0.9rem;
  color: blue;
  cursor: pointer;
}

