/* make variables */

html, body, #root {
  height: 100%;
  
  
}


:root {
  --lightgray: #D9D9D9;
  --gray: #9c9c9c;
  --orange: #f48915;
  --red: #bd3951;
  --darkred: #280308;
  --darkGrey: #464D53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ff5a39 100.75%);
  --appColor:  #66686c;
}

.App {
 mix-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  background-color: var(--appColor);
  overflow-x: hidden;

}
::-webkit-scrollbar{
  display: none;
}

.stoke-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}


.btn{
  background-color: white;
  padding: 0.5rem;
  border: 4px solid transparent;
  transition: 300ms all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover{
  cursor: pointer;
  background-color: rgb(211, 165, 165);
}

